---
layout: "layouts/base.html"
title: "Play the Hangman game"
---


<style>{%cssmin "includes/in-game.css"%}</style>
{%assign placeholder = ".....|......" | split: '|'%}
{%assign letters = "abcdefghijklmnopqrstuvwxyz" | split: ''%}
<main aria-labelledby="main-title" class="stack main-box">
    <div class="segragator heading-box">
        <div class="i-flex">
            <button aria-labelledby="menu-title" class="center box-pink rounded shadowed">
                <svg width="24" height="24">
                    <title id="menu-title">Menu</title>
                    <use href="/assets/images/sprites.svg#hamburger">
                </svg>
            </button>
            <h1 id="main-title">Countries</h1>
        </div>
        <div class="i-flex">
            <div>
                <label for="time-progress" class="visually-hidden">time</label>
                <progress id="time-progress" max="100" value="60">60%</progress>
            </div>
            <div class="heart"></div>
        </div>
    </div>
    <div class="segragator guess contain">
        {%for word in placeholder%}
            <div class="i-flex">
                {%assign dots = word | split: ''%}
                {%for dot in dots%}
                <span class="box-letter-load center letter"></span>
                {%endfor%}
            </div>
        {%endfor%}
    </div>
    <div class="visually-hidden" id="keyboard-title" aria-hidden="true">available letters</div>
    <section class="responsive-grid keyboard" aria-labelledby="keyboard-title">
        {%for letter in letters%}
        <button class="letter">{{letter}}</button>
        {%endfor%}
    </section>
</main>
