---
layout: "layouts/base.html"
title: "Play the Hangman game"
---


<style>{%cssmin "includes/in-game.css"%}</style>
{%assign placeholder = ".....|......" | split: '|'%}
{%assign letters = "abcdefghijklmnopqrstuvwxyz" | split: ''%}
<main aria-labelledby="main-title" class="stack main-box">
    <div class="segragator heading-box" data-emit="heading-change">
        <div class="i-flex">
            <button aria-labelledby="menu-title" class="center box-pink rounded shadowed" aria-controls="menu-dialog" popovertarget="menu-dialog">
                <svg width="24" height="24">
                    <title id="menu-title">Menu</title>
                    <use href="/assets/images/sprites.svg#hamburger">
                </svg>
            </button>
            <h1 id="main-title" class="box-letter-load box-placeholder" data-listen data-attributes="class:titleClass" data-property="title">
                <span class="visually-hidden" aria-hidden="true">loading the category</span>
            </h1>
        </div>
        <div class="i-flex">
            <div>
                <label for="time-progress" class="visually-hidden">remaining hearts</label>
                <progress id="time-progress" max="8" value="8" data-listen data-attributes="value:hearts" data-property="percentage">100%</progress>
            </div>
            <div class="center heart" data-listen data-property="hearts"></div>
        </div>
    </div>
    <div class="segragator content-center letter-wrapper">
        {%for word in placeholder%}
            <div class="i-flex">
                {%assign dots = word | split: ''%}
                {%for dot in dots%}
                <span class="box-letter-load center letter"></span>
                {%endfor%}
            </div>
        {%endfor%}
    </div>
    <div class="visually-hidden" id="keyboard-title" aria-hidden="true">available letters</div>
    <section class="responsive-grid letter-wrapper keyboard" aria-labelledby="keyboard-title">
        {%for letter in letters%}
        <div class="relative">
            <button class="center letter">{{letter}}</button>
            <span class="tooltip visually-hidden" id="{{letter}}" aria-hidden="true">you have already selected the letter {{letter}}</span>
        </div>
        {%endfor%}
    </section>
</main>
<div aria-labelledby="dialog-title" id="menu-dialog" class="menu shadowed column box" role="dialog" popover>
    <h2 class="capitalized dilated-effect sky-text-bg" id="dialog-title">paused</h2>
    <button class="box-blue shadowed">continue</button>
    <a class="box-blue shadowed" href="/categories">new category</a>
    <a class="box-pink shadowed pink-shadow" href="/">quit game</a>
</div>
<script type="module" src="/assets/scripts/game.js" defer></script>
