---
layout: "layouts/base.html"
---
<style>{%cssmin "includes/header.css"%}</style>
<style>{%cssmin "includes/cards.css"%}</style>
<main aria-labelledby="main-title" class="stack main-wrapper">
    <div class="row heading" data-variant="title-only">
        <a href="/{{locale}}/" class="shadowed rounded btn" data-theme="secondary" data-size="sm" aria-labelledby="return">
            <svg width="25" height="24">
                <title id="return">{{ "return_home" | i18n }}</title>
                <use href="/assets/images/sprites.svg#back"/>
            </svg>
        </a>
        <h1 class="dilated-effect sky-text-bg capitalize" id="main-title">{{ "badge_earned" | i18n}}</h1>
    </div>
    <div class="column scrollview" style="view-transition-name: achievements;">
        {%for progress in achievements%}
        {% assign section_name = progress.type | replace: ' ', '_' %}
        <section class="stack" data-space="sm" data-tier="" aria-labelledby="{{section_name}}" aria-describedby="{{section_name}}-desc">
                <h2 id="{{section_name}}">{{progress.type}}</h2>
                <p id="{{section_name}}-desc">{{progress.description}}</p>
                <div class="responsive-grid contain" data-space="md">
                    {%for data in progress.badges %}
                    <button aria-labelledby="{{data.tag}}-title" aria-describedby="{{data.tag}}-desc {{data.tag}}-count-desc" class="box structured-grid card" data-variant="achievement" data-content="{{data.description}}" data-tag="{{data.tag}}">
                        {%badge data.meta site.badgeCardProps%}
                        <div class="row card-title">
                            <span class="h3" id="{{data.tag}}-title">{{data.title}}</span>
                            <span class="rounded box card-icon" id="{{data.tag}}-count"></span>
                        </div>
                        <span hidden id="{{data.tag}}-count-desc"></span>
                        <p id="{{data.tag}}-desc" hidden>{{data.purpose}}</p>
                    </button>
                    {%endfor%}
                </div>
            </section>
        {%endfor%}
    </div>
</main>
<style>{%cssmin "includes/modals.css"%}</style>
<dialog aria-labelledby="dialog-title" id="badge-details" class="modal" data-emit="dialog-updated" role="dialog" tabindex="0" autofocus data-variant="preview">
    <div class="modal-menu btn shadowed column">
        <div class="row" data-gray>
            {%badge achievements.first.badges.first.meta site.badgeModalProps%}
            <div class="stack" id="dialog-title">
                <h2 id="badge_name" class="sky-text-bg dilated-effect" data-listen="heading-updated" data-property="{title}"></h2>
                <p id="eaning-count" data-space="sm" data-listen="heading-updated" data-property="{count}"></p>
            </div>
        </div>
        <p id="badge-description" data-listen="heading-updated" data-property="{description}"></p>
        <div class="stack preview-logs" data-space="md">
            <h3 class="h4">{{"achievement_logs" | i18n}}</h3>
            <ul class="row">
                <li class="box structured-grid card" data-variant="achievement-tile" aria-labelledby="log-1-date" aria-describedby="log-1-desc">
                    <p class="card-title" id="log-1-date">12 oct 2025</p>
                    <p class="card-action" id="log-1-desc">Animals - {{"level" | i18n}} 1</p>
                </li>
            </ul>
        </div>
        <button class="shadowed modal-close rounded center" data-theme="secondary">
            <svg width="24" height="24">
                <title id="return">{{ "close" | i18n }}</title>
                <use href="/assets/images/sprites.svg#x"/>
            </svg>
        </button>
    </div>
</dialog>

<script type="module" src="/assets/scripts/achievements.js" defer></script>
