<!doctype html>
<html lang="{{locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ndimah Tchougoua">
    <meta name="description" content="{{page_description}}">
    <meta name="color-scheme" content="only dark">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{title}}</title>
    <!-- Preloads -->
    <link rel="preload" href="/assets/mouse-memoirs.regular.woff2" as="font" crossorigin="anonymous">
    <link rel="icon" sizes="32x32" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon.svg">
    <link rel="manifest" href="/assets/app.webmanifest">
    <style>{%cssmin "includes/foundations.css" %}</style>
    <style>{%cssmin "includes/button.css" %}</style>
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ike-hangman-game.vercel.app{%if path%}/{{path}}{%endif%}">
    <meta property="og:site_name" content="{%if site_name%}{{site_name}}{%else%}{{site_image.name}}{%endif%}">
    <meta property="og:locale" content="{%if og_locale%}{{og_locale}}{%else%}{{locale}}{%endif%}">
    <meta property="og:title" content="{%if site_title%}{{site_title}}{%else%}{{site_image.title}}{%endif%}">
    <meta property="og:description" content="{%if og_description%}{{og_description}}{%else%}{{site_image.description}}{%endif%}">
    <meta property="og:image" content="{%if og_image%}{{og_image}}{%else%}{{site_image.src}}{%endif%}">
    <meta property="og:image:width" content="{%if og_imageW%}{{og_imageW}}{%else%}{{site_image.width}}{%endif%}">
    <meta property="og:image:height" content="{%if og_imageH%}{{og_imageH}}{%else%}{{site_image.height}}{%endif%}">
    <meta property="og:image:alt" content="{%if og_imageAlt%}{{og_imageAlt}}{%else%}{{site_image.alt}}{%endif%}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <script src="/assets/scripts/pwacompat.min.js"></script>
</head>

<body {%if bodyClass %}class="{{bodyClass}}" {% endif %}>
    {{content}}
</body>
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="visually-hidden" aria-hidden="true">
    <defs>
        <filter id="dilated-shadow" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feMorphology operator="dilate" radius="4 4" in="SourceGraphic" result="morphology" />
            <feFlood flood-color="#243041" flood-opacity="1" result="flood1" />
            <feComposite in="flood1" in2="morphology" operator="in" result="composite" />
            <feComposite in="SourceGraphic" in2="composite" operator="over" result="composite1" />
            <feFlood flood-color="#0B1524" flood-opacity="1" result="flood3" />
            <feComposite in="flood3" in2="composite1" operator="in" result="composite5" />
            <feOffset dx="0" dy="6" in="composite5" result="offset2" />
            <feComposite in="composite1" in2="offset2" operator="over" result="composite6" />
        </filter>
        <filter id="dilated" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feMorphology operator="dilate" radius="4 4" in="SourceGraphic" result="morphology" />
            <feFlood flood-color="#243041" flood-opacity="1" result="flood1" />
            <feComposite in="flood1" in2="morphology" operator="in" result="composite" />
            <feComposite in="SourceGraphic" in2="composite" operator="over" result="composite1" />
        </filter>
        <filter id="a" >
            <feFlood flood-color="#000" flood-opacity="1" result="flood"/>
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation=".2"/>
            <feOffset dx=".2" dy="-5.5" in="blur" result="offset"/>
            <feComposite in="flood" in2="offset" operator="out" result="comp1"/>
            <feComposite in="comp1" in2="SourceGraphic" operator="atop" result="comp2"/>
        </filter>
        <clipPath id="heart" clipPathUnits="objectBoundingBox">
            <path clip-rule="evenodd" fill-rule="evenodd" d="m.49.99-.07-.07c-.25-.25-.42-.41-.42-.61 0-.16.12-.29.27-.29.09 0 .17.04.22.11.05-.07.14-.11.22-.11.15 0 .27.13.27.29 0 .2-.17.37-.42.61l-.07.07z"/>
        </clipPath>
        <clipPath id="unlock" clipPathUnits="objectBoundingBox">
            <path clip-rule="evenodd" fill-rule="evenodd" d="m.4999.072c-.125 0-.2291.096-.2291.22v.108a.3208.308 0 00.2291.532.3249.312 0 10-.1458-.588v-.052a.1458.14 0 01.2666-.08.0417.04 0 10.0708-.044.2291.22 0 00-.1916-.096zm0 .468c.025 0 .0417.016.0417.04v.08a.0417.04 0 11-.0833 0v-.08c0-.024.0167-.04.0417-.04z"/>
        </clipPath>
        <clipPath id="lock" clipPathUnits="objectBoundingBox">
            <path clip-rule="evenodd" fill-rule="evenodd" d="m.4992.072c-.1248 0-.2288.096-.2288.22v.108a.3203.308 0 00.2288.532.3245.312 0 00.2288-.532v-.112c0-.12-.104-.22-.2288-.216zm0 .08c.0832 0 .1456.06.1456.14v.052a.3203.308 0 00-.2912 0v-.052c0-.08.0666-.14.1456-.14zm0 .388c.025 0 .0416.016.0416.04v.08a.0416.04 0 11-.0832 0v-.08c0-.024.0166-.04.0416-.04z"/>
        </clipPath>
        <clipPath id="star" clipPathUnits="objectBoundingBox">
            <path clip-rule="evenodd" fill-rule="evenodd" d="m.4998.0521c.0437 0 .0781.033.1001.0776l.0734.148c.0022.0046.0075.011.0154.0169.0079.0059.0157.0091.0208.01l.1329.0223c.048.0081.0882.0316.1013.0726.013.0409-.0061.0835-.0406.1181l-0 0-.1032.1041c-.0041.0041-.0087.0119-.0115.022-.0029.0101-.0031.0192-.0018.0251l0 .0001.0295.1288c.0123.0536.0082.1067-.0296.1345-.0379.0279-.0898.0155-.1368-.0125l-.1246-.0743c-.0052-.0031-.0142-.0057-.0251-.0057-.0108 0-.0199.0025-.0255.0057l-.0001 0-.1243.0742c-.047.0281-.0988.0403-.1367.0124-.0378-.0278-.042-.0808-.0297-.1344l.0295-.1287 0-.0001c.0013-.0059.001-.0151-.0018-.0251-.0029-.0101-.0075-.0179-.0115-.022l-.1033-.1042c-.0343-.0346-.0534-.0771-.0404-.118.013-.041.0531-.0646.1012-.0726l.1328-.0222 0-0c.0049-.0008.0125-.0041.0204-.01.0079-.0059.0132-.0124.0154-.017l.0001-.0002.0733-.1478 0-.0001c.0222-.0445.0567-.0775.1004-.0775z"/>
        </clipPath>
    </defs>
</svg>
</html>
