---
layout: "layouts/base.html"
---
<style>{%cssmin "includes/header.css"%}</style>
<main aria-labelledby="main-title" class="stack main-wrapper" data-type="credit">
    <div class="row heading" data-variant="title-only">
        <a href="/{{locale}}/" class="shadowed rounded btn" data-theme="secondary" data-size="sm" aria-labelledby="return">
            <svg width="25" height="24">
                <title id="return">{{ "return_home" | i18n }}</title>
                <use href="/assets/images/sprites.svg#back"/>
            </svg>
        </a>
        <h1 class="dilated-effect sky-text-bg capitalize" id="main-title">{{ "credits.title" | i18n}}</h1>
    </div>
    <div class="btn shadowed" style="view-transition-name: credits;" data-size="md" data-theme="purple">
        <div class="column scrollview">
            {% for section in credit_sections %}
            <section class="stack" data-space="sm" aria-labelledby="{{section.id}}" {%if section.desc %} aria-describedby="{{section.desc}}"{% endif %}>
                <h2 id="{{section.id}}">{{section.title}}</h2>
                {{section.content}}
            </section>
            {%endfor%}
            <section class="stack" data-space="sm" aria-labelledby="tools">
                <h2 id="tools">{{"credits.tools" | i18n}}</h2>
                <p id="tools-desc" hidden>{{"credits.tech_used" | i18n}}</p>
                <ul class="stack" aria-labelledby="tools-desc" data-r-space="sm">
                    <li class="row" aria-labelledby="code">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#code">
                        </svg>
                        <span id="code">{{"credits.code_used" | i18n}}</span>
                    </li>
                    <li class="row" aria-labelledby="deployment" data-space="md">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#deploy">
                        </svg>
                        <span id="deployment">{{"credits.deployment" | i18n}}</span>
                    </li>
                    <li class="row" aria-labelledby="illustration" data-space="md">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#pen">
                        </svg>
                        <span id="illustration">{{"credits.illustration" | i18n}}</span>
                    </li>
                    <li class="row" aria-labelledby="sounds" data-space="md">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#music">
                        </svg>
                        <span id="sounds">{{"credits.sound" | i18n}}</span>
                    </li>
                </ul>
            </section>
            <section aria-labelledby="contacts" class="stack" data-space="md">
                <h2 id="contacts">{{"credits.contact_links" | i18n}}</h2>
                <p id="get_in_touch" hidden>{{"credits.get_in_touch" | i18n }}</p>
                <ul aria-labelledby="get_in_touch" class="stack" data-r-space="sm">
                    <li aria-labelledby="greating" class="row">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#mail">
                        </svg>
                        <span id="greating">{{"credits.hello" | i18n}}: <a href="mailto:{{site.contacts.email}}" data-no-transform>{{site.contacts.email}}</a></span>
                    </li>
                    <li aria-labelledby="follow" class="row">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#mastodon">
                        </svg>
                        <span id="follow">{{"credits.follow" | i18n}}: <a href="{{site.contacts.masto}}" data-no-transform>@ndimah22</a></span>
                    </li>
                    <li aria-labelledby="bug" class="row">
                        <svg width="24" height="24" style="filter: drop-shadow(0 1px 2px rgb(0 0 0 / 30%))" aria-hidden="true">
                            <use href="/assets/images/sprites.svg#bug">
                        </svg>
                        <span id="bug">{{"credits.report" | i18n}}: <a href="{{site.contacts.issues}}" data-no-transform>{{site.contacts.issues}}</a></span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>

