---
layout: "layouts/base.html"
bodyClass: "center"
---
<style>{%cssmin "includes/main-menu.css"%}</style>
<main aria-labelledby="main-title" class="box shadowed menu-wrapper">
    <h1 id="main-title" class="sky-text-bg brand grid" translate="no"><span>the</span> <span class="h-content">Hangman</span> <span>game</span></h1>
    <div class="menu segragator">
        <a aria-labelledby="play-btn" class="box-pink shadowed rounded btn-play" href="/{{locale}}/categories" style="view-transition-name: play-button;">
            <svg width="54" height="51" style="filter: url(#a)">
                <title id="play-btn">{{ "play_now" | i18n: site.gameName }}</title>
                <use href="/assets/images/sprites.svg#play-button">
            </svg>
        </a>
        <div class="wrap">
            <a class="box-blue shadowed btn-help" href="/{{locale}}/rules" style="view-transition-name: play;">{{ "how_to_play" | i18n }}</a>
            <a class="shadowed box-quit" href="/">{{ "lang_switch" | i18n }}</a>
        </div>
    </div>
</main>
