:where(button, .btn) {
    --color-fill: var(--system-color-deep-blue);
    --color-text: var(--system-color-white);
    --shadow: inset 0 -2px 0 3px oklch(26% 0.143 273deg),
        inset 0 1px 0 6px oklch(60.26% 0.215 264deg);
    --radius: 1.5em;
    --min-padding: .75em 1.5em;

    &:where([aria-disabled], :disabled) {
        --color-fill: oklch(78.86% 0.1063 267deg);
        --shadow: inset 0 -2px 0 3px oklch(65% 0.105 286deg),
            inset 0 1px 0 6px oklch(74.8% 0.087 267deg);
    }

    &:is(button, a):where(:focus-visible, :hover):not([aria-disabled]) {
        --color-fill: var(--btn-hover-fill, oklch(65.83% 0.1809 265.3deg));
    }

    &[data-theme="secondary"] {
        --color-fill: var(--pinky-gradient);
        --shadow: inset 0 -2px 0 3px oklch(26% 0.143 273deg),
            inset 0 1px 0 6px oklch(64% 0.266 314deg);

        &:where([aria-disabled], :disabled) {
            --color-fill: var(--sky-gradient);
            --shadow: inset 0 -2px 0 3px oklch(65% 0.105 286deg),
                inset 0 1px 0 6px oklch(64.6% 0.266 314deg / 35%);
        }

        &:is(button, a):where(:focus-visible, :hover):not([aria-disabled]) {
            --color-fill: var(--light-pinky-gradient);
        }
    }

    &[data-theme="play"] {
        --color-fill: var(--pinky-gradient);
        --shadow: inset 0 -3px 0 4px var(--system-color-black),
            inset 0 -6px 0 8px oklch(57% 0.27 304deg);

        &:where([aria-disabled], :disabled) {
            --color-fill: var(--sky-gradient);
            --shadow: inset 0 -4px 0 5px oklch(65% 0.105 286deg),
                inset 0 -8px 0 10px oklch(64.6% 0.266 314deg / 35%);
        }

        &:is(button, a):where(:focus-visible, :hover):not([aria-disabled]) {
            --color-fill: var(--light-pinky-gradient);
        }
    }

    &[data-theme="purple"] {
        --color-fill: var(--system-color-dark-navy);
        --shadow: inset 0 -2px 0 3px var(--system-color-deep-blue),
                  inset 0 1px 0 6px oklch(47% 0.1257 273deg);
    }

    &[data-theme="white"] {
        --color-fill: var(--system-color-white);
        --color-text: var(--system-color-dark-navy);
        --shadow: 0 2px 4px rgb(0 0 0 / 30%);

        &:where([aria-disabled], :disabled) {
            opacity: 0.4;
        }

        &:is(button, a):where(:focus-visible, :hover):not([aria-disabled]) {
            --color-fill: oklch(65% 0.105 286deg);
            --color-text: var(--system-color-white);
        }
    }

    &:where([data-type="letter"]) {
        --min-padding: min(5vi, .5rem);
        --radius: min(25%, .75rem);

        font-size: clamp(1.44rem, 1.3169rem + 0.821 * var(--font-unit, 1vw), 1.9531rem);
        min-inline-size: clamp(5vi, 10cqi, 88px);
        aspect-ratio: var(--letter-ratio, 112 / 128);
        text-transform: uppercase;
        letter-spacing: .1em;
        transition: background 0.35s cubic-bezier(0.2, 0.3, 0.5, 1.5),
        opacity 0.35s 0.35s cubic-bezier(0.49, 1.19, 1, 0.18),
        color 0.35s 0.25s ease-out,
        box-shadow 0.35s ease;
    }
}

button[data-tooltip="answer-reveal-tooltip"] {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset-inline-end: -4px;
        inset-block-start: -4px;
        inline-size: min(4vi, 16px);
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--pinky-gradient);
        transition: transform 0.35s 0.35s cubic-bezier(0.2, 0.3, 0.5, 1.5);
        transform: scale(0);
    }

    &:where(:not([aria-disabled="true"]))::before {
        transform: scale(1);
    }
}

.tooltip:where([data-position="bottom"]) {
    --tt-clip: polygon(0 0, 0 100%, 100% 100%, 100% 0, min(100%, 50% + 1em) 0, 50% -1em, max(0%, 50% - 1em) 0);
    --tt-inset-block: calc(100 + 1em) auto;
}

[aria-disabled="true"]:focus~.tooltip {
    font-size: 0.85em;
    text-wrap: pretty;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    color: var(--tt-clr, var(--system-color-white));
    position: absolute;
    inset-block: var(--tt-inset-block, auto calc(100% + 1em));
    inset-inline: var(--tt-inset-inline, -50% auto);
    margin-inline: auto;
    padding: 0.5em;
    min-inline-size: var(--tt-inline-size, 8em);
    max-block-size: 100lvb;
    clip-path: var(--tt-clip, polygon(0 100%, 0 0, 100% 0, 100% 100%,
            min(100%, 50% + 1em) 100%, 50% calc(100% + 1em), max(0%, 50% - 1em) 100%));
    border-image: var(--tt-img, var(--pinky-gradient)) fill 1/auto/1em;
}

@supports (anchor-name: --btn) {
    div:has(> .tooltip) {
        anchor-name: --btn;
        anchor-scope: all;
        position: static;
    }

    .tooltip:where([data-position="bottom"]) {
        --tt-anchored-area: block-end center;
        --tt-anchored-block: calc(anchor(bottom) + 1em) auto;
    }

    [aria-disabled="true"]:focus ~ .tooltip {
        --tt-inset-block: var(--tt-anchored-block, auto calc(anchor(top) + 1em));
        --tt-inset-inline: var(--tt-anchored-inline, auto);
        --tt-inline-size: calc(anchor-size(width) + min(20vi, 8em));

        position-anchor: --btn;
        position-area: var(--tt-anchored-area, block-start center);
        position-try-fallbacks: flip-block flip-inline;
    }
}

@container (inline-size > 48rem) {
    [data-type="letter"]:not([data-size]) {
        min-inline-size: min(8cqb, 88px);
    }
}


[data-dimmed] {
    opacity: 0.4;
}

[data-size="xl"] {
    --min-padding: min(10vi, 3rem);

    min-inline-size: min(30vi, 5em);
}

[data-size="md"] {
    --min-padding: min(6vi, 1.5em);
}

[data-size="sm"] {
    --min-padding: min(3vi, 1rem);

    min-inline-size: min(8vi, 3em);
}

[data-radius="sm"] {
    --radius: .75em;
}
