progress {
    appearance: none;
    border-radius: 5rem;
    inline-size: min(240px, 15vi);
    block-size: 1rem;
}

::-webkit-progress-bar,
progress {
    background-color: var(--system-color-white);
    padding: 2px 4px;
}

::-webkit-progress-value {
    border-radius: 5rem;
    background-color: var(--system-color-dark-navy);
}

::-moz-progress-bar {
    border-radius: 5rem;
    background-color: var(--system-color-dark-navy);
}

.relative {
    position: relative;
}

.main-box {
    --s-space: 2.5rem;

    padding-block: 32px 48px;
    border-image: linear-gradient(oklch(20% 0.1 295deg / 65%), oklch(28% 0.17 271deg / 65%) 70%, oklch(31% 0.152 283deg / 65%)) fill 1/ 50vi / 100vmax;
}

.heading-box {
    --shadow: inset 0 -3px 0 4px oklch(57% 0.269 304deg / 35%);
    --r-space: min(2vi, 1rem);
    --wrap: wrap;
    --min-padding: min(10vi, .5em);

    color: var(--system-color-white);
}

.heart{
    font-weight: bold;
    font-size: 1.4em;
    color: var(--system-color-dark-blue);
    aspect-ratio: 1.08;
    inline-size: min(15vi, 2.5rem);
    clip-path: url(#heart);
    background: var(--pinky-gradient);
}

.i-flex {
    display: inline-flex;
    align-items: center;
    gap: var(--r-space, .5rem);
}

.letter-wrapper {
    --min-padding: min(5vi, .5rem);
    --wrap: wrap;
    --radius: min(25%, .75rem);

    text-transform: uppercase;
    letter-spacing: 1em;
    container: letters / inline-size;
}

.content-center {
    place-content: center;
}

.box-letter-load {
    --color-fill: oklch(56% 0.24 264deg / .25);
    background: linear-gradient(in oklch -25deg, transparent 30%, oklch(91% 0.05 283deg / 25%) 70%, transparent) 0% 0% / 400% 400%;
}

.letter {
    font-size: clamp(1.44rem, 1.3169rem + 0.821 * var(--font-unit, 1vw), 1.9531rem);
    min-inline-size: min(10vi, 10cqi, 88px);
    aspect-ratio: var(--letter-ratio, 112 / 128);
    transition: background 0.35s cubic-bezier(0.2, 0.3, 0.5, 1.5),
                opacity 0.35s 0.35s cubic-bezier(0.49, 1.19, 1, 0.18),
                box-shadow 0.35s ease;
}

.dimmed {
    opacity: 0.4;
}

.keyboard {
    --m-col-s: 9;
    --m-col-w: min(10vi, 109px);
    --m-row-h: 3.25rem;
    --color-fill: var(--system-color-white);
}

button[aria-disabled="true"] {
    --color-fill: oklch(98.5% 0% 0deg / 25%);
}

.menu {
    --s: min(592px, 85vi);
    --alignment: center;
    --min-padding: .75rem min(15vi, 4rem);
    --radius: calc(min(15vi, 4rem) / 2);
    --c-space: 2rem;

    inline-size: var(--s);
    inset-block-start: var(--y, min(25lvb, 210px));
    inset-inline-start: calc(50vi - (var(--s) / 2));
    container: menu / inline-size;
    padding: 2em 1.5rem min(11lvb, 87px);
    background-image: linear-gradient(in oklch to bottom, oklch(46% 0.178 270), oklch(29% 0.166 264 / 83%));
    overflow: clip visible;

    &::backdrop {
        background: linear-gradient(oklch(20% 0.1 295deg / 85%), oklch(28% 0.17 271deg / 85%) 70%, oklch(31% 0.152 283deg / 85%));
    }

    &:popover-open {
        transform: scale(1.1);
    }

    & > :is(a, button) {
        font-size: clamp(1.2rem, 1.113rem + 0.58 * var(--font-unit, 1vw), 1.5625rem);
    }

    & > h2 {
        letter-spacing: 0.01em;
        font-size: clamp(3.7994rem, 2.5557rem + 1.6245 * var(--font-unit, 1vw), 4.8147rem);
        text-transform: capitalize;
        margin-block-start: -4rem;
    }
}

.pink-shadow {
    --shadow: inset 0 -2px 0 3px oklch(26% .143 273),
              inset 0 2px 0 4px oklch(57% .269 304);
;
}

[aria-disabled="true"]:focus ~ .tooltip {
    font-size: 0.9em;
    text-wrap: wrap;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--system-color-white);
    position: absolute;
    inset-block-end: calc(100% + 1em);
    inset-inline-start: calc(-50% - 1em);
    padding: 0.5rem;
    min-inline-size: 8em;
    max-block-size: 100vb;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%,
                    min(100%, 50% + 1em) 100%, 50% calc(100% + 1em), max(0%, 50% - 1em) 100%);
    border-image: var(--pinky-gradient) fill 1/auto/1em;
}

.box-placeholder {
    --min-padding: 1rem;
    min-inline-size: var(--holder-width, 30vi);
}

@media screen and (prefers-reduced-motion: no-preference) {
    .box-letter-load {
        animation: moving-bg 1.35s infinite alternate-reverse cubic-bezier(0.86, 0, 0.07, 0.5);
    }
}

@keyframes moving-bg {
   to {
       background-position: 100%;
   }
}
