progress {
    appearance: none;
    border-radius: 5rem;
    inline-size: min(240px, 15vi);
    block-size: 1rem;
}

::-webkit-progress-bar,
progress {
    background-color: var(--system-color-white);
    padding: 2px 4px;
}

::-webkit-progress-value {
    border-radius: 5rem;
    background-color: var(--system-color-dark-navy);
}

::-moz-progress-bar {
    border-radius: 5rem;
    background-color: var(--system-color-dark-navy);
}

.main-box {
    --s-space: 2.5rem;

    padding-block: 32px 48px;
    border-image: linear-gradient(oklch(20% 0.1 295deg / 65%), oklch(28% 0.17 271deg / 65%) 70%, oklch(31% 0.152 283deg / 65%)) fill 1/ 50vi / 100vmax;
}

.heading-box {
    --shadow: inset 0 -3px 0 4px oklch(57% 0.269 304deg / 35%);
    --r-space: 1rem;
    --wrap: wrap;

    color: var(--system-color-white);
}

.heart{
    aspect-ratio: 1.08;
    inline-size: min(15vi, 3rem);
    clip-path: url(#heart);
    background: var(--pinky-gradient);
}

.i-flex {
    display: inline-flex;
    align-items: center;
    gap: var(--r-space, .5rem);
}

