.menu {
    --direction: column;
    --i-alignment: space-evenly;
    --col-align: center;

    container: menu / inline-size;
}

.menu-wrapper {
    background-image: linear-gradient(in oklch to bottom, oklch(46% 0.178 270deg) 60%, oklch(28% 0.166 265deg / 83%));
    min-inline-size: min(90vi, 592px);
    border-radius: min(2.5em, 72px);
    padding: 5em min(5vmin, 1.5em) min(5vmin, 1.5em);
    display: flex;

    & > .menu {
        flex-grow: 2;
    }
}

.menu-nav {
    position: absolute;
    inset: auto min(5vi, 1.5em) min(5lvb, 1.5em) auto;
}

.brand:where(.grid) {
    --g-template: ". area1 ."
    "area2 area2 area2"
    ". . area3" / 1em minmax(3ch, 1fr) 1fr;
    --g-gap: 0;

    text-align: center;
    position: absolute;
    inset: max(-3.5rem, -6.5lvb) 1em auto;
    margin-inline: auto;
    inline-size: max-content;
    filter: url("#dilated-shadow");
    letter-spacing: 0.2em;

    &>span:nth-of-type(2) {
        font-size: 1.5em;
        margin-block-start: -.45em;
        letter-spacing: 0.08em;

        &::first-letter {
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }

    &>span:not(:nth-of-type(2)) {
        text-transform: uppercase;
        font-size: .7em;
        text-align: start;
        background: linear-gradient(var(--system-color-white), var(--system-color-white)) text;
    }

    & > span:last-of-type {
        margin-block-start: -0.4em;
    }
}

:is(.lang-wrapper, .lang-wrapper > li) {
    display: flex;
    gap: 1.5em;
}

.lang-wrapper {
    --outline-clr: var(--system-color-dark-navy);

    flex-flow: row wrap;
    place-content: center;

    & > * {
        --radius: 1.5rem;

        flex-flow: column nowrap;
        place-items: center;
        background: linear-gradient(in oklch 135deg, var(--system-color-light-blue), var(--system-color-white));
        box-shadow: 0 2px 4px 0 hsl(0deg 0 0 / 35%);
        border: 3px solid var(--system-color-dark-navy);
    }

    a {
        --min-padding: .75em;
        --radius:var(--min-padding);
    }
}

@container (inline-size >= 30rem) {
    .lang-wrapper {
        flex-flow: row nowrap;

         & > * {
             flex: 2 1 auto;
         }
    }
}

.wrap {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    gap: var(--spacing, 1.5em);
}

