body {
    overflow: auto;
}

body:has(dialog[open]) {
    overflow: clip;
}

dialog:focus-visible {
    outline-style: ridge;
}

.modal-title {
    letter-spacing: 0.01em;
    font-size: clamp(3.7994rem, 2.5557rem + 1.6245 * var(--font-unit, 1vw), 4.8147rem);
    text-transform: capitalize;
    white-space: nowrap;
    margin-block-end: max(-5cqb, -1.5rem);
    z-index: 2;
    align-self: center;
}

svg:where(input[type="checkbox"] + *) {
    inline-size: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: 1px solid var(--system-color-white);
    padding: 0.15rem;
    stroke: var(--system-color-white);
    stroke-dashoffset: 1;
    stroke-dasharray: 1;
    z-index: -1;
}

.modal-menu:where(.modal > *) {
    --color-fill: linear-gradient(in oklch to bottom, oklch(46% 0.178 270deg) 60%, oklch(28% 0.166 265deg / 83%));
    --min-padding: var(--modal-padding, min(5lvi, 1.5em));

    flex-grow: 2;
}

.modal:where([data-variant="preview"]) {
    --r-space: .5em;

    position: relative;

    &:where([data-not-earned]) {
        --row-dir: column;
        --p-align: center;
    }
}

.modal:where([data-variant="menu"]) {
    --alignment: center;
    --modal-padding: min(7vmin, 2rem) min(7vmin, 2rem) 1.5em;
    --radius: calc(min(15vi, 4rem) / 2);
    --c-space: min(2.5vmin, 2rem);
    --link-text-align: center;
}

.modal[data-purpose="answer-reveal"] {
    --c-space: 1rem;
    --heart-size: min(10cqi, 3rem);
}

.preview-logs:where(.modal[data-not-earned] *) {
    display: none;
}

.modal-close:where(.modal[data-variant="preview"] *) {
    --min-padding: .5em;

    position: absolute;
    inset-inline-end: .5em;
    inset-block-start: .5em;
}

.modal-content:where(.modal[data-variant="menu"] *) {
    --col-align: center;
    --p-align: center;
    --actions-i-align: center;
    --p-space: pre-wrap balance;
}

[data-icon="star"] {
    --color-fill: var(--star-icon-fill, oklch(92% 0.015 277deg));
    --min-padding: min(10cqi, 1.5em);

    clip-path: url("#star");
    aspect-ratio: 1;
    min-inline-size: var(--icon-size, min(5cqi, 4em));

    &:where([data-filled]) {
        --star-icon-fill: linear-gradient( 135deg  in oklch,
        oklch(62% 0.11 75deg) 0%,
        oklch(82% 0.14 85deg) 25%,
        oklch(96% 0.08 90deg) 50%,
        oklch(76% 0.15 82deg) 75%,
        oklch(55% 0.12 70deg) 100%
        );
    }
}

div:has(> [data-icon="star"]) {
    filter: url("#dilated");
}

.check-wrapper:where(.modal[data-purpose] *) {
    position: relative;
    inline-size: 2rem;
    aspect-ratio: 1;
    isolation: isolate;

    &:focus-within {
        outline: max(2px, .3em) solid currentcolor;
        outline-offset: max(2px, .3em);
    }

    & > * {
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
    }

    & > input[type="checkbox"] {
        opacity: 0;
        z-index: 0;
        margin: 0;

        &:checked + svg {
            stroke-dashoffset: 0;
            background-color: var(--system-color-dark-navy);
            border-color: var(--system-color-dark-navy);
        }
    }
}

div:has(> .check-wrapper) {
    --r-space: .5rem;
}

.modal-actions {
    --r-space: 1rem;
    --row-dir: column;
    --row-align: var(--actions-row-align, stretch);
}

.modal {
    inset: 1px;
    margin: auto;
    display: flex;
    flex-flow: column;
    transform: scale(1);
    inline-size: min(85vi, 500px);
    background: transparent;
    overflow: clip auto;
    overflow: clip / auto; /* for safari */
    max-block-size: min(80dvb, 512px);

    &, &::backdrop {
        transition: display .35s allow-discrete,
        overlay .35s allow-discrete,
        transform 0.35s .35s var(--elastic-timing),
        opacity .35s;
    }

    @starting-style {
        &[open]::backdrop {
            opacity: 0;
        }

        &[open] {
            transform: var(--initial-transform, scale(0));
        }
    }

    &:not([open]) {
        display: none;
    }

    &[open] {
        opacity: 1;
    }

    &::backdrop {
        background: linear-gradient(oklch(20% 0.1 295deg / 85%), oklch(28% 0.17 271deg / 85%) 70%, oklch(31% 0.152 283deg / 85%));
        backdrop-filter: blur(4px);
    }
}

[data-align="center"]:where(.modal *) {
    text-align: center;
    white-space: var(--p-space, collapse balance);
}


:where(
[data-label="paused"]:not(.modal[data-status="paused"] *),
[data-label="won"]:not(.modal[data-status="won"] *),
[data-label="lost"]:not(.modal[data-status="lost"] *),
[data-label="perfect"]:not(.modal[data-status="perfect"] *),
[data-label="level-up"]:not(.modal[data-status="level-up"] *),
[data-label="letter-reveal"]:not(.modal[data-purpose="letter-reveal"] *),
[data-label="answer-reveal"]:not(.modal[data-purpose="answer-reveal"] *),
[data-action-label="replay"]:not([data-action="replay"] > *),
.continue-btn:where([data-status="perfect"] *),
[data-action-label="continue"]:not([data-action="continue"] > *)
) {
    display: none;
}

@media screen and (width > 28em){
    .modal-actions {
        --row-dir: row;
        --i-alignment: var(--actions-i-align, end);

        &:where([data-status="paused"] *) {
            --row-dir: column;
            --i-alignment: center;

            padding-inline: min(5cqi, 4em);
        }

        &:where(.modal[data-status]:not([data-status="paused"]) *) {
            --i-alignment: center;
        }

        &:where(.modal[data-status="level-up"] *) {
            --row-dir: row-reverse;
        }
    }
}
