article {
    --color-fill: var(--system-color-white);
    --radius: 1.25rem;
    --g-template: "area2 area1" "area3 area3" / max-content 1fr;
    --g-gap: 1rem;
    --p-space: collapse pretty;
    --continer-name: article;

    color: oklch(45% 0.14 287deg);
    min-inline-size: 265px;
}

span:where(.rule-grid > *) {
    font-size: 1.5em;
    color: var(--system-color-deep-blue);
}

h2:where(.rule-grid > *) {
    color: var(--system-color-dark-navy);
}

.main-box {
    --s-space: 2.5rem;

    padding-block: 32px 48px;
    border-image: linear-gradient(oklch(20% 0.1 295deg / 65%), oklch(28% 0.17 271deg / 65%) 70%, oklch(31% 0.152 283deg / 65%)) fill 1/ 50vi / 100vmax;
}

nav:where(.main-box > *) {
    --s-space: min(13lvb, 6.25rem);
}

.back-btn {
    --min-padding: 1em;
    --shadow: inset 0 -3px 0 4px oklch(57% 0.269 304deg / 35%);
}

.heading-box {
    --r-space: 0;

    &>h1 {
        text-transform: capitalize;
        text-align: end;
        flex: 2 1 auto;
    }
}

.rules-wrapper {
    --container-name: rules;
}

.categories {
    --m-row-h: 4.5rem;
    --radius: 1.25rem;

    & a {
        font-size: clamp(1.44rem, 1.3169rem + 0.821 * var(--font-unit, 1vw), 1.9531rem);
        letter-spacing: .1em;
        text-align: center;
        min-block-size: 100%;
    }
}

@container rules (inline-size > 24rem) {
    article {
        --g-template: "area2 area1" "area2 area3" / max-content 1fr;
        --g-gap: .75rem 2rem;
    }
}

@container rules (inline-size > 43rem) {
    article {
        --g-template: "area2 " "area1" " area3" 1fr;
        --f-size: 1.5rem;

        place-items: start center;
        container: article / inline-size;
    }
}

@media screen and (width >= 26.7em) {
    span {
        font-size: 3rem;
        align-self: center;
    }

    .heading-box>h1 {
        text-align: center;
    }

    .categories {
        --m-row-h: 8.875rem;
        --radius: 2.5rem;
    }
}

@media screen and (width >= 48em) {
    .rules-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, max(265px, (25% - 1rem))), 1fr));
        grid-auto-rows: auto;
        gap: 1rem;
    }

    .main-box {
        --s-space: 4rem;
    }

}
