---
layout: "layouts/base.html"
title: "Page not found - Hangman game"
page_description: "Oops! This page seems to have been guessed away. Head back to the main menu and keep playing."
bodyClass: "center"
permalink: 404.html
locale: "en"
path: "404"
og_title: "Oh No! Page Not Found"
og_description: "This page does not exist, but the Hangman fun isn’t over. Return to the main menu and keep guessing!"
robots: "noindex"
og_image: "https://ike-hangman-game.vercel.app/assets/images/screenshots/opengraph/404.png"
og_imageW: 1024
og_imageH: 718
og_imageAlt: "Screenshot of the Hangman game 404 error page. It shows the message 'Oh no! Page not found' with all occurrences of the letter O hidden, like blank spaces in a puzzle. Below the message is a link labelled 'Go to home page' to return to the main menu."
---
{%assign words = "oh no! page not found" | split: ' '%}
<style>{%cssmin "includes/404.css"%}</style>
<main aria-labelledby="main-title" aria-describedby="desc" class="box repel shadowed menu">
    <p id="main-title" hidden>oh no! page not found</p>
    <h1 aria-labelledby="main-title" class="row letter-wrapper" data-wrap="">
        {%for word in words%}
        <span class="i-flex">
            {%assign dots = word | split: ''%}
            {%for dot in dots%}
            <span class="shadowed btn" data-type="letter" {%if dot == 'o'%}data-dimmed{%endif%}>{{dot}}</span>
            {%endfor%}
        </span>
        {%endfor%}
    </h1>
    <p id="desc">The page you are looking for does not exists at the moment.<br>
    The good news is that you can still visit the home page</p>
    <a href="/" class="shadowed btn">go to home page</a>
</main>
