---
title: "Page not found - Hangman game"
layout: "layouts/base.html"
bodyClass: "center"
permalink: 404.html
locale: "en"
path: "404"
site_name: "Hangman game, 404"
site_title: "Failed to find your page"
og_description: "We are currently unable to provide the page you are looking for"
og_image: "https://ike-hangman-game.vercel.app/assets/images/404-og-image.png"
og_imageW: 1200
og_imageH: 630
og_imageAlt: "A screenshot of the 404 page showing the text 'oh no! page not found' with all occurences of the letter o hidden"
---
{%assign words = "oh no! page not found" | split: ' '%}
<style>{%cssmin "includes/404.css"%}</style>
<main aria-labelledby="main-title" class="box segragator shadowed menu">
    <p id="main-title" hidden>oh no! page not found</p>
    <h1 aria-labelledby="main-title" class="segragator letter-wrapper">
        {%for word in words%}
        <span class="i-flex">
            {%assign dots = word | split: ''%}
            {%for dot in dots%}
            <span class="letter center box-blue shadowed" {%if dot == 'o'%}data-dimmed{%endif%}>{{dot}}</span>
            {%endfor%}
        </span>
        {%endfor%}
    </h1>
    <p>The page you are looking for does not exists at the moment.<br>
    The good news is that you can still visit the home page</p>
    <a href="/" class="btn-primary box-blue shadowed">go to home page</a>
</main>
