---
title: "The hangman game Main menu"
---
{% extends "layouts/base.html" %}

<main aria-labelledby="main-title">
    <h1 id="main-title"><span>the</span><span class="h-content">Hangman</span><span>game</span></h1>
    <a></a>
    <a>how to play</a>
</main>
